*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 80px;
    background-color: bisque;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    display: flex;
}

.logo img{
    width: 100px;
} 

a{
    text-decoration: none;
}




